{
  "extends": [
    "eslint-config-standard",
    "eslint-config-airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "generator-star-spacing": ["error", {
      "before": true,
      "after": false
    }],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-mixed-spaces-and-tabs": "error",
    "no-tabs": "off",
    "no-unused-vars": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "prefer-destructuring": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-uses-react": "warn",
    "react/prop-types": "error",
    "semi": "off",
    "space-before-function-paren": "off",
  },
  "plugins": ["react", "node", "promise", "standard", "import", "prettier"],
  "parser": "babel-eslint"
}