{
	"extends": [
		"eslint-config-standard"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"legacyDecorators": true
		}
	},
	"rules": {
		"semi": "off",
		"no-mixed-spaces-and-tabs": "error",
		"comma-dangle": "off",
		"no-tabs": "off",
		"indent": ["off", "tab"],
		"space-before-function-paren": "off",
		"operator-linebreak": "off",
		"react/jsx-uses-react": "warn",
		"no-unused-vars": "off",
		"generator-star-spacing": ["error", {
			"before": true,
			"after": false
		}]
	},
	"plugins": ["react", "node", "promise", "standard", "import"],
	"parser": "babel-eslint"

}
