@import '~antd/lib/style/themes/default.less';

.loadingSpin {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.context {
  margin: 20px;
  height: 100%;
  border-left: 1px solid #e8e8e8;
  background: #ffffff;
}

.context_multi_page {
  margin: 0;
  height: 100%;
  border-left: 1px solid #e8e8e8;
  background: #ffffff;
}

.setting {
  width: 30;
  height: 30;
  position: 'absolute';
  right: 0;
  top: '70%';
}
